[submodule "third_party/vz"]
	path = third_party/vz
	url = https://github.com/semistrict/vz.git
	branch = lnx
[submodule "third_party/criu"]
	path = third_party/criu
	url = https://github.com/semistrict/criu.git
	branch = lnx
