[submodule "old/third_party/vz"]
	path = old/third_party/vz
	url = https://github.com/semistrict/vz.git
	branch = lnx-patches
[submodule "old/third_party/criu"]
	path = old/third_party/criu
	url = https://github.com/semistrict/criu.git
	branch = lnx
[submodule "old/third_party/qemu"]
	path = old/third_party/qemu
	url = https://github.com/semistrict/qemu.git
	branch = lnx
